body {
  scroll-behavior: smooth;
  height: 100vh;
  padding-top: 56px;
}
html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  display: none;
}

#about {
  padding-top: 55px;
}

.nav-item {
  margin-right: 15px;
}
.house {
  height: 100vh;
}
section .fas,
section .fab {
  color: #000000;
  font-size: 35px;
}
.custom-col {
  margin-top: 25%;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
}

.progress-bar {
  background-color: rgb(51, 51, 51);
}

@media (max-width: 576px) {
  .card i {
    font-size: 50px; 
  }

  .card-title {
    font-size: 1.25rem;
  }
}

/* skills  */
@media (min-width: 341px) and (max-width: 412px) {
  #skills {
    height: auto;
    padding-bottom: 2rem;
  }

  #skills .text-center h2 {
    font-size: 2rem;
  }

  #skills .text-center p {
    font-size: 1.1rem;
  }

  #skills .card {
    padding: 1.5rem;
  }

  #skills .card-title {
    font-size: 1.1rem;
  }

  #skills .card-text {
    font-size: 0.95rem;
  }

  #skills .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  #skills .col-lg-4 {
    width: 30%;
    margin-bottom: 1rem;
  }

  #skills .card i {
    font-size: 2.7rem;
  }
}